* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  box-sizing: border-box;
}

@function weight($weights) {
  @return map-get($font-weight, $weights);
}

@function font($font) {
  @return map-get($font-size, $font);
}

@mixin flexbox($direction, $area) {
  display: flex;
  justify-content: $area;
  align-items: center;
  flex-direction: $direction;
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

$font-size: (
  "tiny": 1rem,
  "small": 1.2rem,
  "normal": 1.5rem,
  "large": 2rem,
  "huge": 3rem,
);

$weights: (
  "normal": 500,
  "good": 800,
  "bold": bold,
);

/* colors */

$first-color: black;
$second-color: darkblue;
$third-color: lightblue;
$fourth-color: rgb(197, 197, 197);
$fifth-color: white;

/* transitions */

$transition: 0.5s ease;

button {
  cursor: pointer;
  outline: none;
  border: none;
}

main {
  display: grid;
  place-items: center;
  margin-top: 4rem;
}

.wrapper {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: min(550px, 100%);
  text-align: center;
  padding: 1rem 2rem 2rem 2rem;
  transition: $transition;
  h3,
  h2,
  .inputs {
    margin-bottom: 1rem;
  }
  h3 {
    border-radius: 5px;
    visibility: hidden;
  }
  & h2:first-of-type {
    font-size: font(huge);
  }
  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
      -2px -2px 10px rgba(0, 0, 0, 0.2);
  }
  h2 {
    button {
      display: none;
      color: red;
      margin: 1rem 0rem 0rem 0rem;
      font-family: "Roboto", sans-serif;
      font-size: font(normal);
      background-color: transparent;
    }
    .show {
      display: inline-block;
    }
  }
  .inputs {
    display: flex;
    margin-bottom: 2rem;
    input {
      width: 100%;
      outline: none;
      border: 2px solid $third-color;
      padding-left: 10px;
    }
    button {
      padding: 0.5rem;
      border-radius: 0px 5px 5px 0px;
      background-color: $third-color;
      letter-spacing: 3px;
    }
  }
  ul {
    text-align: left;
    li {
      padding: 0.8rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        margin: 0rem 0.7rem;
        font-size: font(tiny);
        background-color: transparent;
        &:first-child {
          color: green;
        }
        &:last-child {
          color: red;
        }
      }
      &:hover {
        background-color: rgba(182, 179, 179, 0.3);
        border-radius: 5px;
      }
    }
  }
}




.alert-green {
  background-color: rgba(0, 128, 0, 0.4);
}
.alert-red {
  background-color: rgba(255, 0, 0, 0.4);
}